body {
  text-align: center;
}

#masthead,

#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
  min-width: 500px;
}

#masthead {
  background: none;
}

#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#search-btn {
  width: 80px;
  height: 30px;
  margin: 5px;
}

#search-input {
  width: 200px; 
  height: 24px; 
  margin: 10px;
}